@use '../../styles/shared-mixins/typography';

@mixin withoutBackgroundColor {
  background-color: var(--background-accent-contrast-secondary);
}
@mixin textColorPrimary {
  color: var(--text-primary-inverse)
}

.Counter {
  @include typography.labelMediumStrong;

  min-width: var(--size-border-radius-semantic-border-radius-promo);
  min-height: var(--size-border-radius-semantic-border-radius-promo);
  padding: 1px var(--spacing-size-s);
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.Counter_variant_primary {
  @include textColorPrimary;
  background-color: var(--accent-themed);
}
.Counter_variant_primary-contrast {
  @include withoutBackgroundColor;
  color: var(--accent-themed);
}
.Counter_variant_attention {
  @include textColorPrimary;
  background-color: var(--background-accent-negative);
}
.Counter_variant_attention-contrast {
  @include withoutBackgroundColor;
  color: var(--text-negative);
}
.Counter_variant_promo {
  @include withoutBackgroundColor;
  color: var(--promo-text-step-1);
}
.Counter_variant_static {
  @include textColorPrimary;
  background-color: var(--background-accent-neutral-default);
}
.Counter_variant_static-contrast {
  @include withoutBackgroundColor;
  color: var(--text-primary-static);
}
.Counter_variant_default {
  @include textColorPrimary;
  background-color: var(--background-accent-neutral-default);
}
.Counter_variant_mute {
  color: var(--text-tertiary);
  background-color: var(--background-mute);
}
.Counter_variant_menu {
  @include textColorPrimary;
  background-color: var(--background-menu);
}
