@use '../../styles/shared-mixins/typography';

.CellAction {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

// [Properties] Modes
.CellAction_mode_primary {
  color: var(--text-themed);

  &.CellAction_disabled {
    color: var(--states-text-themed-disabled);
  }
}
.CellAction_mode_secondary {
  color: var(--text-tertiary);

  &.CellAction_disabled {
    color: var(--states-text-tertiary-disabled);
  }
}
.CellAction_mode_themed {
  color: var(--text-themed);

  &.CellAction_disabled {
    color: var(--states-text-themed-disabled);
  }
}
.CellAction_mode_destructive {
  color: var(--text-negative);

  &.CellAction_disabled {
    color: var(--states-text-negative-disabled);
  }
}
.CellAction_mode_custom {
  color: var(--MaxUi-CellAction_color, var(--text-themed));

  &.CellAction_disabled {
    color: var(--MaxUi-CellAction_color-disabled, var(--states-text-themed-disabled));
  }
}

// [Properties] Sizes
.CellAction_height_compact {
  padding: var(--spacing-size-xs) var(--spacing-size-xl);
  min-height: 48px;
}
.CellAction_height_normal {
  padding: var(--spacing-size-m) var(--spacing-size-xl);
  min-height: 56px;
}

// [Parts] Before
.CellAction__before {
  margin-right: var(--spacing-size-xl);
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  > :where(svg, img) {
    width: 24px;
    height: 24px;
  }
}

// [Parts] Content
.CellAction__content {
  @include typography.actionMedium;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// [Parts] Chevron
.CellAction__chevron {
  color: var(--icon-mute);
  flex-shrink: 0;
}
