.Steps {
  display: flex;
  gap: 9px;
  padding: 12px;
}

.Steps__step {
  min-width: 3px;
  width: 100%;
  height: 3px;
  
  border-radius: 2px;
  background-color: var(--background-accent-neutral-fade);
}

.Steps__step_active {
  background-color: var(--background-accent-themed);
}
