.OverlayContainer {
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;

  &_appearance {
    &_light {
      background-color: #f9f9f9;
    }

    &_dark {
      background-color: rgb(47 48 54);
    }
  }
}
