@mixin iosSizes {
  --size-base-platform-width-compact: 360px;
  --size-base-platform-width-normal: 412px;
  --size-border-radius-action-small: 10px;
  --size-border-radius-action-medium: 12px;
  --size-border-radius-action-large: 16px;
  --size-border-radius-button-xsmall: 8px;
  --size-border-radius-button-small: 12px;
  --size-border-radius-button-medium: 16px;
  --size-border-radius-button-large: 20px;
  --size-border-radius-semantic-border-radius: 10px;
  --size-border-radius-semantic-border-radius-paper: 12px;
  --size-border-radius-semantic-border-radius-floating: 14px;
  --size-border-radius-semantic-border-radius-card: 16px;
  --size-border-radius-semantic-border-radius-promo: 20px;
  --size-border-radius-semantic-border-radius-rounded: 48px;
  --size-padding-base-padding-vertical: 12px;
  --size-padding-base-padding-horizontal: 16px;
  --spacing-size2xs: 2px;
  --spacing-size-xs: 4px;
  --spacing-size-s: 6px;
  --spacing-size-m: 8px;
  --spacing-size-l: 10px;
  --spacing-size-xl: 12px;
  --spacing-size2xl: 16px;
  --spacing-size3xl: 20px;
  --spacing-size4xl: 24px;
}

@mixin androidSizes {
  --size-base-platform-width-compact: 375px;
  --size-base-platform-width-normal: 393px;
  --size-border-radius-action-small: 10px;
  --size-border-radius-action-medium: 12px;
  --size-border-radius-action-large: 16px;
  --size-border-radius-button-xsmall: 8px;
  --size-border-radius-button-small: 12px;
  --size-border-radius-button-medium: 16px;
  --size-border-radius-button-large: 20px;
  --size-border-radius-semantic-border-radius: 10px;
  --size-border-radius-semantic-border-radius-paper: 12px;
  --size-border-radius-semantic-border-radius-floating: 14px;
  --size-border-radius-semantic-border-radius-card: 16px;
  --size-border-radius-semantic-border-radius-promo: 20px;
  --size-border-radius-semantic-border-radius-rounded: 48px;
  --size-padding-base-padding-vertical: 12px;
  --size-padding-base-padding-horizontal: 16px;
  --spacing-size2xs: 2px;
  --spacing-size-xs: 4px;
  --spacing-size-s: 6px;
  --spacing-size-m: 8px;
  --spacing-size-l: 10px;
  --spacing-size-xl: 12px;
  --spacing-size2xl: 16px;
  --spacing-size3xl: 20px;
  --spacing-size4xl: 24px;
}
